:host {
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        .slider {
            width: 100%;
        }

        .filter {
            min-height: 105px;
            background-color: #1d242c;
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            position: sticky;
            top: 0;
            z-index: 1001;

            .categories {
                flex: inherit;
                display: flex;
                gap: 15px;
                padding: 0 15px;
                height: 53px;
                align-items: flex-end;
            }

            .providers {
                background-color: #272d36;
                flex: inherit;

                .providers_more {
                    line-height: 53px;
                    padding: 0 20px;
                    float: right;
                    background: transparent;
                    font-family: var(--font-croco);
                    font-size: 14px;
                    color: var(--light);
                    cursor: pointer;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    img {
                        transition: ease-in-out 300ms;
                    }

                    &.active {
                        img {
                            transform: rotate(180deg);
                        }
                    }
                }

                .providers_items {
                    display: flex;
                    gap: 15px;
                    padding: 0 15px;
                    line-height: 53px;
                    align-items: flex-end;
                    flex-wrap: wrap;
                    height: 53px;
                    overflow: hidden;

                    &.expanded {
                        height: auto;
                    }
                }
            }
        }

        .games {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
            gap: 12px;

            .first {
                grid-column: 1/3;
                grid-row: 1 / 3;
            }
        }
    }
}
