@use "sass:meta";
@import "variables";
@import "fonts";


:root {
  --font-croco: #{meta.inspect($font-family-croco-sans-serif)};

  --dark: #{$dark};
  --dark-2: #{$dark-2};
  --dark-1: #{$dark-1};

  --primary: #{$primary-color};
  --secondary: #{$secondary-color};
  --accent: #{$accent-color};
  --light: #{$light};

}
