@import "/src/assets/scss/variables";


.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;

  .side-menu {
    flex: initial;
    background-color: var(--dark-2);
    width: 78px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
    }

    .navigation {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
      gap: 5px
    }
  }

  .content {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;

    .header {
      background-color: var(--dark-1);
      height: 60px;
    }

    .body {
      color: var(--light);
      padding: 8px;
    }
  }


}
