.slot-item {
    background-color: #252B33;
    min-height: 178px;
    width: auto;
    display: flex;
    flex-direction: column;

    .image {
        flex: 1 1 auto;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .title {
        flex: initial;
        height: 38px;
        line-height: 38px;
        padding: 0 8px;
    }
}
